header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
 
  height: 2vh;
  }
  
  .logo {
    font-size: 2em;
    
  }

  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 10px;
  }
 
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #333;
      padding: 10px;
    }
  
    .nav-links li {
      text-align: center;
      margin: 10px 0;
    }
  
    .burger {
      display: block;
    }
  }
  